<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sublime</title>
</head>
<body>
<div style="height:15px; background-color: #FFDEAD"/div>
<link rel="stylesheet" type="text/css" href="styles.css">
<FONT FACE="wingdings"/FONT>
<br><br><br>
<center><img src="/images/uber.png" width = "500" height = "500">
<h1><center>UberMeAwkward</h1>
<form action="demo_form.asp">
<center> Enter address: <input type="text" name="Address" value="" width = "300">
<input type="submit" value="Submit">
<br><br><br><br><br><br><br><br><br>
<p><u>Help</p>
<div style="height:50px; background-color: #B0E2FF"/div>
</form>
</body>
</html>