<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Front page</title>
  </head>
  <body>
    <div style="height:15px; background-color:#FFDEAD"/div>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <FONT FACE="wingdings"/FONT>
    <br><br><br>
    <img id = "uber" src="/images/uber.png">
    <h1>UberMeAwkward</h1>
    <form>
      Enter Start Address: <input type="text" name="Starting Address" value=""><br><br>
      Enter End Address: <input type = "text" name = "End Address" value = ""><br><br>
      <select name="ubertypes">

      </select>
      <div class="init">Submit Ride</div>
    </form>
      <br><br><br><br><br>
      <p><u>Help</p>
      <div style="height:50px; background-color: #B0E2FF"/div>
    <script type="text/javascript"></script>

    <div class="main">
      <h2>Device Motion</h2>
      <table>
        <tr>
          <td>acceleration</td><td id="moAccel"></td>
          <td>acceleration</td><td id="vib"></td>
        </tr>
      </table>
    </div>
    <script type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script type="text/javascript", src="/js/handler.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>