<!DOCTYPE html>
<html>
	<head>
 	 <meta charset="utf-8">
 	 <title>Sublime</title>
	</head>
	<body>
		<div style="height:15px; background-color: #FFDEAD"/div>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<FONT FACE="wingdings"/FONT>
		<br><br><br>
		<img id = "uber" src="/images/uber.png">
		<h1>UberMeAwkward</h1>
		<form>
			Enter Start Address: <input type="text" name="Starting Address" value=""><br><br>
			Enter End Address: <input type = "text" name = "End Address" value = ""><br><br>
			<select name="ubertypes">
  				
			</select>
			<button name="init">Submit Ride</button>
		</form>
			<br><br><br><br><br>
			<p><u>Help</p>
			<div style="height:50px; background-color: #B0E2FF"/div>
		<script type="text/javascript">
			// var list = document.getElementsByClassName("ubertype")[0];
			// list.getElementsByClassName("ubertypes")[0].innerHTML = "1";
			// var list = document.getElementsByClassName("ubertype")[1];
			// list.getElementsByClassName("ubertypes")[1].innerHTML = "2";
			// var list = document.getElementsByClassName("ubertype")[2];
			// list.getElementsByClassName("ubertypes")[2].innerHTML = "3";
			// var list = document.getElementsByClassName("ubertype")[3];
			// list.getElementsByClassName("ubertypes")[3].innerHTML = "4";
			// var list = document.getElementsByClassName("ubertype")[4];
			// list.getElementsByClassName("ubertypes")[4].innerHTML = "5";
		</script>
		<script type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js'>
		</script>
  <script type="text/javascript", src="/js/handler.js"></script>
	</body>
</html>